@import url(http://fonts.googleapis.com/css?family=Raleway);
*{
    margin: 0;
    border: 0;
    padding: 0;
}
*::selection {
	background: #ccc;
}
body {
    font-family: 'Raleway', 'Trebuchet MS', sans-serif;
	-webkit-animation: FadeIn 0.6s;
	animation: FadeIn 0.6s;
}

@-webkit-keyframes FadeIn{
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.wrapper
{
    width: 960px;
    margin: 0 auto;
}
.clearfix {
	clear: both;
	overflow: auto;
	width: 0;
	height: 0;
}

h1 {
    font-size: 50px;
	text-align: center;
}
h2 {
    font-size: 30px;
	text-align: center;
}
input {
	outline-color: #583742;
}
/* Hack pra tirar a cor do autocomplete que o navegador coloca */
input:-webkit-autofill {
	 -webkit-box-shadow: 0 0 0px 1000px #fff inset;
	 box-shadow: 0 0 0px 1000px #583742 #fff inset;
}
textarea:focus {
    outline-color: #ef6f53;
}
input[type="submit"]:hover {
	cursor: pointer;
}

header
{
    min-width: 100%;
    float: left;
	position: relative;
	z-index: 999;
    height: 200px;
    background: url(../imagens/fundo_header.jpg);
	box-shadow: 0px 9px 27px #000;
}

.logo {
	float: left;
	margin: 0 40px 0 0;
}


.menuTopo {
    float: left;
	position: relative;
    margin: 80px 0 0 0;
}
.menuTopo ul{
    list-style: none;
}
.menuTopo ul li{
    display: inline-block;
    float: left;
}
.menuTopo ul li a {
    text-decoration: none;
    padding: 7px 10px;
    font-size: 14px;
    color: #fff;
    font-family: Verdana;
    text-transform: uppercase;
	transition: all 0.6s;
}
.cursor {
	cursor: default;
}

/* MOSTRANDO SUBMENU */

.menuTopo ul li ul {
	display: none;
	max-width: 160px;
	z-index: 999;
	-webkit-animation: apareceMenu 0.6s;
	background: linear-gradient(to bottom,rgba(88, 55, 66,.2),rgba(88, 55, 66,.9));
	border: 1px solid #eeebe3;
	border-radius: 8px;
    box-shadow: 1px 1px 15px #000;
}
.menuTopo ul li:hover ul {
	display: block;
	position: absolute;
	top: 20px;
	left: 180px;
}
.menuTopo ul li ul li {
	float: none !important;
}
.menuTopo ul li ul li a {
	display: block;
	min-width: 140px;
}

@-webkit-keyframes apareceMenu {
	0% {
		opacity: 0;
		left: 220px;
	}
	100% {
		opacity: 1;
		left: 180px;
	}
}

.menuTopo ul li a:hover {
	color: #ef6f53;
}

.boxLogin {
	float: right;
	width: 180px;
	padding: 7px;
	margin: 40px 0 0 0;
	border-radius: 5px;
	background: linear-gradient(to bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.5));
}
.boxLogin .lblEmail, .boxLogin .lblSenha {
	color: #583742;
	font-weight: bold;
	font-size: 17px;
}
.boxLogin input[type="submit"] {
	float: right;
	padding: 5px;
	border-radius: 5px;
	background: linear-gradient(to bottom, rgba(239,111,83,1), rgba(200,94,71,1));
	color: #fff;
	margin: 7px 0 0 0;
	transition: all 0.6s;
}
.boxLogin input[type="submit"]:hover {
	color: #583742;
}
.boxLogin input[type="text"], .boxLogin input[type="password"] {
	border-radius: 5px;
	font-size: 16px;
	max-width: 175px;
	color: #ef6f53;
	padding: 1px 0 0 5px;
}
.boxLogin input[type="password"] {
	letter-spacing: 3px;
}
.boxLogin a {
	display: block;
	margin: 9px 0 0 0;
	text-decoration: none;
	color: #fff;
	transition: all 0.6s;
}
.boxLogin a:hover {
	color: #ff7b5e;
	font-weight: bold;
	text-shadow: 0px 0px 6px #fff;
}

/* BOX DE LOGOUT */

.boxLogout {
	float: right;
	width: auto;
	max-width: 270px;
	padding: 7px;
	margin: 25px 0 0 0;
	border-radius: 15px;
	border: 2px solid #583742;
	background: linear-gradient(to bottom, rgba(255,255,255,0.6),rgba(255,255,255,0.4));
	box-shadow: 6px 7px 15px #1e1e1e;
}
.boxLogout span {
	display: block;
	float: left;
	clear: left;
	color: #fff;
}
.boxLogout .lblBemVindo, .lblNomeUsuario
{
    font-weight: bold;
    color: #2d1100 !important;
}
.boxLogout input[type="submit"] {
	float: right;
	padding: 5px;
	margin: 5px 0 0 0;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	background: linear-gradient(to bottom, rgba(239,111,83,1), rgba(200,94,71,1));
	transition: all ease-in-out 0.6s;
}
.boxLogout input[type="submit"]:hover {
	color: #583742;
}

.carrinho {
	float: left;
	clear: left;
	margin: 10px 0 0 7px;
	max-width: 230px;
	border-top: 1px dotted #583742;
	border-right: 1px dotted #583742;
	border-left: 1px dotted #583742;
	border-radius: 7px;
	padding: 5px;
    cursor: default;
}
.carrinho img {
	float: right;
	margin: 0 15px 8px 0;
}
.carrinho span {
	font-size: 14px;
}
.carrinho .lblMeuCarrinho {
	font-size: 21px;
	color: #ff7b5e;
	font-weight: bold;
	text-shadow: 1px 1px 1px #1e1e1e;
	margin: 5px 0 0 10px;
}
.carrinho .produtosCar {
	color: #583742;
	float: none;
	display: initial;
	font-size: 16px !important;
	font-weight: bold;
}

.banner {
	clear: both;
	position: relative;
}

section {
    clear: both;
}
.chamada {
    min-width: 100%;
    float: left;
    padding: 60px 0;
	background: radial-gradient(rgba(238,235,227,1),rgba(255,255,255,1));
}
.chamada h1, .chamada h2 {
	color: #ef6f53;
}
.chamada .btnPedir a{
	text-decoration: none;
	float: left;
	padding: 8px;
	margin: 20px 410px 0 410px;
	color: #fff;
	border-radius: 3px;
	background: linear-gradient(to bottom, rgba(239,111,83,1), rgba(200,94,71,1));
	transition: all 0.6s;
}
.chamada .btnPedir a:hover {
	color: #583742;
	font-weight: bold;
}

.melhores {
    min-width: 100%;
    float: left;
	position: relative;
	box-shadow: 0 -9px 27px #000;
    background: url(../imagens/fundo_header.jpg);
    padding: 30px 0;
}
div[class*="tag"] {
	float: left;
    width: 270px;
    display: inline-block;
    margin: 0 25px;
}
div[class*="tag"] img {
    margin: 0 70px;
}
div[class*="tag"] h3 {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    margin: 15px 0 0 0;
}
div[class*="tag"] h3:nth-child(3) {
    color: #ef6f53;
    margin: 0 !important;
    font-size: 21px;
}
div[class*="tag"] p {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    width: 230px;
    margin: 10px 20px 0 20px;
}

.chamadaCardapio {
	float: left;
	min-width: 100%;
	clear: both;
	padding: 45px 0;
	background: #eeebe3;
}

div[class*="chamadacdp"] {
	float: left;
	display: inline-block;
	width: 180px;
	margin: 40px 6px 0 6px;
}
div[class*="pizza_chamada"]{
	height: 160px;
	width: 160px;
	border-radius: 160px;
	border: 4px solid #fff;
	margin: 0 6px 20px 6px;
}
div[class*="chamadacdp"] h3{
	font-size: 20px;
	color: #583742;
	text-align: center;
}

footer {
	clear: both;
	float: left;
	padding: 30px 0;
	min-width: 100%;
	background: url(../imagens/fundo_header.jpg);
}
.logoRodape {
	margin: 0 364px;
}
.menuRodape {
	float: left;
	margin: 0 204px 20px 204px;
}
.menuRodape ul{
	list-style: none;
}
.menuRodape ul li {
	float: left;
	display: inline-block;
}
.menuRodape ul li a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 7px 10px;
	font-size: 15px;
	color: #fff;
	font-family: Verdana;
	transition: all 0.6s;
}
.menuRodape ul li a:hover {
	color: #ef6f53;
}
footer p {
	text-align: center;
	color: #fff;
}

/* CSS INTERNO */

.bannerInterno {
	float: left;
	min-width: 100%;
	padding: 40px 0;
	background: radial-gradient(rgba(238,235,227,1),rgba(255,255,255,1));
}
.bannerInterno h1 {
	color: #ef6f53;
}

/* CSS PÁGINA CADASTRO */

.descCadastro {
	float: left;
	min-width: 100%;
	padding: 30px 0;
	background: linear-gradient(to bottom, rgba(250,249,246,1), rgba(238,235,227,1));
}
.descCadastro h3 {
	text-align: center;
	margin: 0 0 25px 0;
	color: #583742;
}
.descCadastro p {
	text-align: center;
	margin: 0 200px;
}
.descCadastro p a {
	text-decoration: none;
	color: #ef6f53;
	transition: all 0.6s;
}
.descCadastro p a:hover {
	color: #f89b5d;
}

.descForm {
	min-width: 100%;
	float: left;
	text-align: left;
	clear: both;
	padding: 20px 0;
}
.descForm p {
	color: #583742;
	font-style: italic;
	font-weight: bold;
	margin: 0 0 0 120px;
}

.formulario1, .formulario2 {
	min-width: 100%;
	float: left;
	background: #eeebe3;
	padding: 20px 0;
	margin: 20px 0 0 0;
	border-top: 2px solid #583742;
	border-bottom: 2px solid #583742;
}
.formulario1 legend, .formulario2 legend {
	margin: 0 auto;
	color: #ff7b5e;
	font-size: 19px;
	font-weight: bold;
	padding: 0 5px;
}
.formulario1 .spans, .formulario2 .spans {
	display: block;
	float: left;
	clear: left;
	width: 170px;
	text-align: right;
	margin: 0 0 0 201px;
	color: #583742;
	font-weight: bold;
}
.formulario1 input[type="text"], .formulario1 input[type="password"], .formulario2 input[type="text"], .formulario2 input[type="number"], .formulario2 select {
	border: 1px solid #583742;
	border-radius: 3px;
	font-size: 15px;
	float: left;
	margin: 0 0 12px 10px;
    padding: 2px;
}

.buttonsCadastro {
	clear: both;
	min-width: 100%;
	float: left;
	padding: 20px 0;
}
.buttonsCadastro input[type="submit"] {
	padding: 6px;
	border-radius: 4px;
	float: left;
	background: linear-gradient(to bottom,rgba(239,111,83,1), rgba(200,94,71,1));
	margin: 0 10px;
	color: #fff;
	transition: all 0.6s;
	font-size: 17px;
	font-weight: 500;
}
.buttonsCadastro input[type="submit"]:hover {
	color: #583742;
}
.buttonsCadastro input[type="submit"]:first-child {
	margin: 0 10px 0 398px;
}
.buttonsCadastro .btnPreenche {
	opacity: 0;
	filter: alpha(opacity=0);
}
.resposta {
	clear: both;
	min-width: 100%;
	float: left;
	padding: 20px 0;
}

/* CSS PÁGINA CARDÁPIO */

.cardapio {
	clear: both;
	float: left;
	min-width: 100%;
	padding: 30px 0;
	background: #eeebe3;
	border-top: 2px solid #583742;
	border-bottom: 2px solid #583742;
}
.cardapio h2 {
	color: #583742;
	font-size: 25px;
	margin: 0 0 20px 0;
}

.cardapio table {
	margin: 0 auto;
}
.cardapio td {
	padding: 9px 6px;
	border: 1px solid #583742;
	font-weight: bold;
	color: #ef6f53;
	background: #fff3e9;
}
.cardapio td:first-child, .cardapio td:last-child {
    text-align: center;
}
.cardapio th {
	font-size: 19px;
	text-align: center;
	background: url(../imagens/fundo_header.jpg);
	color: #fff;
    padding: 10px;
    border: 1px solid #583742;
}
.cardapio .clmSabor {
	text-align: center;
}
.cardapio .clmIngred {
	font-size: 15px;
}
.cardapio .clmPreco {
	width: auto;
}

/* CSS PÁGINA PROMOÇÃO */

.promocoes {
	float: left;
	min-width: 100%;
	padding: 30px 0;
	background: #eeebe3;
	border-top: 2px solid #583742;
	border-bottom: 2px solid #583742;
}
.promocoes table {
	margin: 0 130px;
}
.promocoes td {
	padding: 9px 5px;
	border: 1px solid #583742;
	font-weight: bold;
	color: #ef6f53;
	background: #fff3e9;
}
.promocoes .colunaheader {
	font-size: 18px;
	text-align: center;
	background: url(../imagens/fundo_header.jpg);
	color: #fff;
}
.promocoes .clmNomePromo {
	text-align: center;
}

/* CSS PÁGINA PEDIDOS */

.pedidoAndamento {
	clear: both;
	min-width: 100%;
	float: left;
	padding: 30px 0;
	background: #eeebe3;
	border-top: 1px solid #583742;
}

.pedidos .buttonsPedidos {
	float: left;
	margin: 0 136px 30px 136px;
}
.pedidos .buttonsPedidos input[type="submit"]{
	padding: 8px 4px;
	background: linear-gradient(to bottom,rgba(239,111,83,1), rgba(200,94,71,1));
	color: #fff;
	border-radius: 4px;
	font-weight: bold;
}

.pedidos {
	float: left;
	min-width: 100%;
	padding: 30px 0;
	background: #eeebe3;
	border-top: 2px solid #583742;
	border-bottom: 2px solid #583742;
}
.pedidos table {
	margin: 0 auto;
	clear: both;
}
.pedidos td {
	padding: 10px 15px;
	border: 1px solid #583742;
	font-weight: bold;
	color: #ef6f53;
	background: #fff3e9;
	font-size: 18px;
	text-align: center;
}
.pedidos .colunaheader {
	font-size: 18px;
	text-align: center;
	background: url(../imagens/fundo_header.jpg);
	color: #fff;
}
.pedidos .clmObservacaoPed {
    font-size: 16px;
}

/* ESTILO PÁGINA TROCAR SENHA */

.trocaSenha {
	min-width: 100%;
	float: left;
	padding: 30px 0;
	background: #eeebe3;
	border-top: 2px solid #583742;
	border-bottom: 2px solid #583742;
}
.trocaSenha fieldset {
	max-width: 170px;
	margin: 0 368px;
	line-height: 25px;
}
.trocaSenha span {
	display: block;
	color: #583742;
	font-weight: bold;
}
.trocaSenha input[type="password"] {
	border: 1px solid #583742;
	border-radius: 4px;
	color: #ef6f53;
	font-size: 17px;
	letter-spacing: 3px;
	padding: 0 3px;
}
.btnTrocaSenha {
	padding: 4px;
	background: linear-gradient(to bottom,rgba(239,111,83,1), rgba(200,94,71,1));
	border-radius: 3px;
	margin: 20px 425px 0 425px;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	transition: all 0.4s;
}
.btnTrocaSenha:hover {
	color: #583742;
}

/* ESTILO PÁGINA PEDIR */

.pedindo {
	float: left;
	min-width: 100%;
	padding: 30px 0;
	background: #eeebe3;
	border-top: 2px solid #583742;
	border-bottom: 2px solid #583742;
}
.pedindo h2{
    color: #583742;
    margin: 0 0 20px 0;
}

.pedindoPizzas {
    float: left;
}

.pnlPizza {
    float: left;
    margin: 15px 0 15px 122px;
    min-width: 60%;
}
.pnlPizza select{
    float: left;
    margin: 0 5px;
    padding: 2px;
    font-size: 17px;
    color: #ef6f53;
    font-weight: bold;
	border: 1px solid #583742;
	border-radius: 5px;
	background: #fff3e9;
}
.pnlPizza span{
    display: block;
    float: left;
    color: #583742;
    font-weight: bold;
    font-size: 15px;
}
.pnlPizza span.lblPizza {
    margin: 4px 0 0 0;
}
.pnlPizza span.lblPreco, .pnlPizza p{
    margin: 10px 5px 0 0;
}
.pnlPizza p {
    color: #583742;
    font-weight: bold;
    font-size: 15px;
    float: left;
    clear: left;
}
.pnlPizza .lblPreco{
    display: block;
}
.pnlPizza input[type="checkbox"], label {
    margin: 7px 0 0 3px;
}
.pnlPizza input[type="number"] {
    padding: 2px 0 2px 6px;
    width: 35px;
    height: 25px;
    color: #ef6f53;
    border: 1px solid #583742;
    background: #fff3e9;
    font-weight: bold;
}
.pnlPizza span.lblQtd {
    margin: 5px 10px 0 15px;
}
.pnlAviso {
    float: left;
    padding: 8px;
    margin: 15px 277px;
    border: 2px solid #583742;
    background: linear-gradient(to bottom, #3a2a2f, #583742);
    border-radius: 3px;
}
.pnlAviso span
{
    display: block;
    float: left;
    color: #fff;
    font-size: 14px;
}
.btnAddCarrinho{
    float: left;
    margin: 50px 420px 0 420px;
    padding: 5px;
    background: #ef6f53;
    color: #583742;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    
}

.buttonsAdd {
    float: left;
    clear: left;
    margin: 10px 0 0 120px;
}
.buttonsAdd .btnAddPizza {
    padding: 5px;
    border-radius: 8px;
    background: #ef6f53;
    color: #583742;
    font-weight: bold;
    font-size: 15px;
}
.pedindoBebida {
    float: left;
	min-width: 100%;
	padding: 30px 0;
	background: #eeebe3;
	border-bottom: 2px solid #583742;
}
.pnlBebida {
    float: left;
    margin: 15px 0 15px 122px;
    min-width: 60%;
}
.pnlBebida input[type="number"] {
    padding: 2px 0 2px 6px;
    width: 35px;
    height: 25px;
    color: #ef6f53;
    border: 1px solid #583742;
    background: #fff3e9;
    font-weight: bold;
}
.pnlBebida span {
    display: block;
    float: left;
    color: #583742;
    font-weight:bold;
}
.pnlBebida span.lblBebida {
    margin: 4px 0 0 0;
}
.pnlBebida span.lblQtd {
    margin: 5px 10px 0 15px;
}
.pnlBebida select {
    float: left;
    margin: 0 5px;
    padding: 2px;
    font-size: 17px;
    color: #ef6f53;
    font-weight: bold;
	border: 1px solid #583742;
	border-radius: 5px;
	background: #fff3e9;
}
.pnlBebida p {
    color: #583742;
    font-weight: bold;
    font-size: 15px;
    float: left;
    clear: left;
    margin: 10px 5px 0 0;
}
.pnlBebida .lblPreco {
    display: block;
    margin: 10px 0 0 0;
}

.buttonsAddBebida {
    clear: left;
    float: left;
    margin: 0 0 0 122px;
}
.buttonsAddBebida input[type="submit"] {
    padding: 5px;
    border-radius: 8px;
    background: #ef6f53;
    color: #583742;
    font-weight: bold;
    font-size: 15px;
}

.carrinhoPedido h2 {
    color: #583742;
    clear: left;
}
.carrinhoPedido h2:nth-child(5) {
    float: left;
}
.carrinhoPedido {
    float: left;
    padding: 30px 0;
    min-width: 100%;
    background: #eeebe3;
    border-bottom: 1px solid #583742;
}

/* PIZZAS NO CARRINHO */

.produtosCarrinho {
    margin: 20px auto;
}
.produtosCarrinho td, th {
    border: 1px solid #583742;
}
.produtosCarrinho th {
    background: url(../imagens/fundo_header.jpg);
    color: #fff;
    font-size: 24px;
    padding: 7px 15px;
}
.produtosCarrinho td {
    background: #fff3e9;
    color: #ef6f53;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.pnlPrecoTotal {
    float: left;
    margin: 0 375px;
}
.pnlPrecoTotal span{
    display: block;
    text-align: center;
    float: left;
    color: #583742;
    font-size: 20px;
}

.tituloEndAlt {
    font-size: 22px;
    color: #583742;
    text-align: center;
}
.enderecoAlt input[type="text"]:first-child {
    display: block;
    min-width: 320px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    background: #999;
    color: #ddd;
    margin: 0 auto;
    text-align: center;
}
.enderecoAlt input[type="text"] {
    display: block;
    min-width: 250px;
    padding: 5px;
    border: 1px solid #583742;
    border-radius: 5px;
    color: #ef6f53;
    margin: 0 auto;
    text-align: center;
    background: #fff3e9;
}
.enderecoAlt input[type="number"]{
    display: block;
    margin: 0 auto;
    padding: 2px 0 2px 6px;
    height: 25px;
    width: 35px;
    border: 1px solid #583742;
    color: #ef6f53;
    background:#fff3e9;
    font-weight: bold;
}
.enderecoAlt span {
    display: block;
    text-align: center;
    margin: 10px 0 3px 0;
    color: #583742;
    font-weight: bold;
}

.rbtnList {
    margin: 0 auto;
}
.rbtnList tr {
    display: block;
    margin: 5px 0;
}
.rbtnList label {
    color: #583742;
    font-weight: bold;
}

.pnlEnd {
    clear: both;
    float: left;
}
.pnlEnd h3 {
    text-align: center;
    margin: 25px 0 12px 0;
}
.pnlEnd textarea
{
    display: block;
    clear: left;
    min-width: 250px;
    max-width: 500px;
	min-height: 100px;
	max-height: 800px;
    margin: 0 auto;
    padding: 4px;
    background: #fff3e9;
    border: 1px solid #ef6f53;
    color: #583742;
}
.btnFinaliza {
    float: left;
    margin: 50px 420px 0 420px;
    padding: 5px;
    background: #ef6f53;
    color: #583742;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.6s;
}
.btnFinaliza:hover {
    color: #fff;
}
.btnLimpaCarrinho {
    float: left;
    margin: 12px 420px 50px 420px;
    padding: 5px;
    background: #ef6f53;
    color: #583742;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.6s;
}
.pnlPagamento {
    float: right;
    margin: 0 50px 0 0;
}
.pnlPagamento h2 {
    margin: 0 0 20px 0;
}
.pnlPagamento span, p {
    color: #583742;
}
.pnlPagamento label {
    color: #ef6f53;
    font-weight: bold;
    letter-spacing: 1px;
}
.pnlPagamento p:nth-child(2) {
    font-weight: bold;
}
.pnlPagamento span:nth-child(3) {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}
.pnlPagamento span, p {
    display: block;
    margin: 0 0 10px 0;
}
.pnlPagamento input[type="text"] {
    padding: 5px;
    border-radius: 7px;
    text-align: center;
    color: #ef6f53;
}
.pnlPagamento .lblTroco {
    text-align: center;
    margin: 15px 0 0 0;
    font-size: 17px;
}
 /* TextBox do Troco */
.pnlPagamento input[type="text"]:last-child {
    background: #ccc;
}
.pnlPagamento .lblSeuValor {
    margin: 10px 0 5px 0;
    text-align: center;
}


/* ESTILO PÁGINA TROCAR DADOS */

.dadosCliente {
	float: left;
	min-width: 100%;
	padding: 30px 0;
	background: #eeebe3;
	border-top: 2px solid #583742;
	border-bottom: 2px solid #583742;
}

fieldset[class*="formTrocaDados"]
{
	border: 1px solid #583742;
	padding: 15px;
	box-shadow: 0 0 7px #583742 inset;
}

.formTrocaDados1 
{
	float: left;
}
.formTrocaDados2 
{
	float: right;
}
fieldset[class*="formTrocaDados"] legend
{
	text-align: center;
	font-weight: bold;
	color: #ef6f53;
	font-size: 18px;
	margin: 0 0 15px 0;
	padding: 0 5px;
	background: #eeebe3;
	border-radius: 8px;
}
fieldset[class*="formTrocaDados"] .spans
{
	display: block;
	float: left;
	clear: left;
	text-align: right;
	color: #583742;
	font-weight: bold;
}
.formTrocaDados1 .spans 
{
	width: 161px;
}
.formTrocaDados2 .spans
{
	width: 124px;
}

fieldset[class*="formTrocaDados"] input[type="text"], fieldset[class*="formTrocaDados"] input[type="password"], fieldset[class*="formTrocaDados"] select, fieldset[class*="formTrocaDados"] input[type="number"]
{
	border: 1px solid #583742;
	border-radius: 3px;
	font-size: 15px;
	float: left;
	margin: 0 0 12px 10px;
	padding: 2px;
}
fieldset[class*="formTrocaDados"] input[type="text"]:focus, fieldset[class*="formTrocaDados"] input[type="password"]:focus, fieldset[class*="formTrocaDados"] select:focus, fieldset[class*="formTrocaDados"] input[type="number"]:focus
{
	box-shadow: 0px 1px 3px #999 inset;
}
.btnTrocaDados
{
	float: left;
    clear: both;
    margin: 25px 0 0 400px;
    padding: 5px;
    background: linear-gradient(to bottom, rgba(239,111,83,1), rgba(200,94,71,1));
    border-radius: 5px;
    color: #fff;
    transition: all 0.6s;
    font-size: 16px;
    font-weight: bold;
}
.btnTrocaDados:hover
{
    color: #583742;
}
.erroTrocaDados 
{
	display: block;
	float: left;
	clear: left;
	color: #f53d15;
	font-weight: bold;
}