* 
{
    margin: 0;
    padding: 0;
    border: 0;
}
body 
{
    background-image: url(../img/textura.jpg);
}
h1 
{
    text-align: center;
    margin:15px auto auto auto;
}
div#pnlLoginFunc
{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 280px;
    margin: -75px 0px 0px -140px;
    border: 3px solid #808080;
    background-color: #3c55a5;
}
div#pnlLoginFunc span
{
    font-size: 18px;
    color: #fff;
    margin-left: 20px;
}
div#pnlLoginFunc input#txtLoginFunc, input#txtSenhaFunc 
{
    border-radius: 6px;
}
div#pnlLoginFunc input#txtLoginFunc
{
    margin-top: 30px;
    margin-bottom: 10px;
}

/* CSS DO BOTAO */

.button
{
    padding: 5px;
    margin: 8px 0px 0px 37%;
    border: 2px solid #f8ce45;
    border-radius: 5px;
    background-color: #eb5701;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
