
/* **** INFORMAÇÕES **** */

/*

TOM DE LARANJA: #e67e22
TOM DE AZUL: #3498db;

FONTE UTILIZADA EM TODO O SITE: Constantia (Não é necessário declarar, ela vai ser usada automaticamente)

Pra que serve a div wrapper?
    Para conter o conteúdo, e centralizá-lo na página.
*/

*
{
    margin: 0;
    padding: 0;
    border: 0;
}

*::selection 
{
    background: #ccc;
}

.wrapper 
{
    width: 960px;
    margin: 0 auto;
}

body 
{
    -webkit-animation: fade 1s;
    font-family: Constantia;
}

@keyframes fade 
{
    0% 
    {
        opacity: 0;
    }
    
    100% 
    {
        opacity: 1;
    }
}

@-webkit-keyframes fade 
{
    0% 
    {
        opacity: 0;
    }
    
    100% 
    {
        opacity: 1;
    }
}

@-moz-keyframes fade 
{
    0% 
    {
        opacity: 0;
    }

    100% 
    {
        opacity: 1;
    }
}

header, section, article, footer 
{
    clear: both;
    min-width: 100%;
    float: left;
}

section 
{
    min-height: 800px;
}

article 
{
    padding: 50px 0;
}

/* CSS DO CABEÇALHO DO SITE (header) */

header 
{
    padding: 15px 0;
    background: #333;
}

.logo 
{
    float: left;
    margin: 23px 0 0 0;
}

.menuTopo 
{
    float: left;
    margin: 45px 0 0 130px;
}

.menuTopo ul 
{
    list-style: none;
}

.menuTopo ul li 
{
    display: inline-block;
    float: left;
    padding: 0 10px;
}

.menuTopo ul li a 
{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    transition: all 0.4s;
}

.menuTopo ul li a:hover 
{
    text-shadow: 0 0 3px #fff;
}

.pnlLogin 
{
    float: right;
}
.pnlLogin p 
{
    color: #cfcfcf;
    margin: 0 0 3px 0;
}
.pnlLogin input[type="text"], .pnlLogin input[type="password"] 
{
    float: left;
    padding: 3px;
    margin: 0 0 5px 0;
    border-radius: 4px;
    letter-spacing: 1px;
}
.pnlLogin input[type="password"] 
{
    letter-spacing: 2px !important;
}
.pnlLogin input[type="text"]:hover, .pnlLogin input[type="password"]:hover 
{
    background: linear-gradient(to bottom, #eee, #fff);
}
.pnlLogin input[type="submit"] 
{
    float: left;
    clear: left;
    padding: 5px;
    font-weight: bold;
    color: #fff;
    background: #e67e22;
    border-radius: 5px;
}


/* PAINEL DE LOGOUT */

.pnlLogout
{
    float: right;
}
.pnlLogout p, span
{
    float: left;
    clear: left;
    color: #fff;
}
.pnlLogout input[type="submit"]
{
    float: right;
    clear: both;
    padding: 5px;
    font-weight: bold;
    background: #e67e22;
    color: #fff;
    margin: 10px 0px 0 0;
}


/* SECTION */

/* ESTILO ARTICLE PROCURANDO */

.procurando 
{
    border-bottom: 2px solid #e67e22;
}
.procurando h2, .procurando h3
{
    text-align: center;
    color: #333;
    font-family: Tahoma;
}
.procurando h2 
{
    font-size: 28px;
    margin: 0 0 8px 0;
}
.procurando h3 
{
    font-size: 23px;
    letter-spacing: 2px;
}
.procurando .buttonGroup 
{
    margin: 30px auto 0 auto;
    width: 430px;
}
.procurando .buttonGroup a 
{
    width: 200px;
    text-align: center;
    padding: 20px 0;
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}
.procurando .buttonGroup a:nth-child(odd) 
{
    float: left;
    background: #e67e22;
    border-bottom: 3px solid #bc6518;
}

.procurando .buttonGroup a:nth-child(even) 
{
    float: right;
    background: #3498db;
    border-bottom: 3px solid #2a80b9;
}

.institucional 
{
    border-bottom: 2px solid #e67e22;
    text-align: center;
}

.buscarVagas 
{
    text-align: center;
}
.buscarVagas h2 {
    color: #333;
    text-align: center;
    font-size: 22px;
    font-family: Tahoma;
}

/* FIM SECTION */

/* ESTILO DO RODAPÉ DA PÁGINA (footer) */

footer 
{
    padding: 30px 0;
    background: #333;
}

.infosRodape p 
{
    text-align: center;
    margin: 0 0 7px 0;
    color: #fff;
}

/* ESTILO PÁGINA DE LOGIN ADMINISTRADOR */

.painelAdm 
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
    border: 1px solid #e67e22;
    box-shadow: 0 0 8px #333;
}

.painelAdm div 
{
    margin: 50px 50px 0 50px;
}

.painelAdm h2 
{
    text-align: center;
    font-size: 25px;
    margin: 0 0 25px 0;
}

.painelAdm p 
{
    margin: 10px 0 5px 0;
    color: #1c1c1c;
}

.painelAdm input[type="text"], .painelAdm input[type="password"] 
{
    border: 1px solid #3498db;
    width: 192px;
    padding: 3px;
    letter-spacing: 1px;
    color: #333;
    border-radius: 4px;
}

.painelAdm input[type="password"] 
{
    letter-spacing: 3px !important;
}

.painelAdm input[type="submit"]
{
    padding: 6px 10px;
    margin: 15px 70px 0 70px;
    font-size: 15px;
    font-weight: bold;
    background: #e67e22;
    border-radius: 6px;
    color: #fff;
}

/* Formatação da grid de vagas na home */

.gridHome tbody
{
    border-radius: 10px;
    border: 1px solid black;

}

.gridHome th
{
    background-color: #e67e22;
    padding: 5px 10px;
}

.gridHome td
{
    background-color: #AED6F1;
    border-top: 1px solid black;
    padding: 5px 10px;
}

.grid #gridVagas
{
    box-shadow: 10px 10px 5px #888888;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    margin: 0 auto;
}

.grid input[type="text"], .grid input[type="password"] 
{
    border: 1px solid #3498db;
    width: 192px;
    padding: 3px;
    letter-spacing: 1px;
    color: #333;
    border-radius: 4px;
}

.grid input[type="submit"]
{
    padding: 6px 10px;
    margin: 15px 70px 0 70px;
    font-size: 15px;
    font-weight: bold;
    background: #e67e22;
    border-radius: 6px;
    color: #fff;
}

/* CSS DA PÁGINA LANÇAR VAGAS */

article.lancarVaga h1{
    font-size: 35px;
    text-align: center;
    margin: 0 0 40px 0;
    color: #313131;
}
article.lancarVaga h2 {
    color: #e67e22;
    margin: 0 0 20px 40px;
}

.pnlInfos {
    padding: 0 0 0 15px;
}

.painelVaga {
    padding: 30px 0;
    border-top: 1px solid #3498db;
    overflow: auto;
}
.painelVaga span {
    color: #333;
}
.painelVaga textarea {
    border: 1px solid #3498db;
    padding: 5px;
    font-size: 15px;
    min-height: 70px;
    min-width: 200px;
    max-height: 200px;
    max-width: 400px;
    float: left;
    clear: left;
}
.painelVaga input[type="text"] {
    border: 1px solid #3498db;
    padding: 3px;
    letter-spacing: 1px;
    float: left;
}
.painelVaga input[type="submit"] {
    float: left;
    clear: left;
    padding: 6px;
    margin: 15px 0 0 15px;
    color: #fff;
    font-weight: bold;
    background: #e67e22;
    border-radius: 4px;
}
.painelVaga select {
    font-family: Constantia;
    padding: 2px;
    font-size: 16px;
    border: 1px solid #3498db;
    border-radius: 3px;
}
.painelVaga .pnlSeleciona {
    float: left;
    clear: left;
}
.painelVaga .pnlSeleciona p {
    text-align: center;
    margin: 10px 0 5px 0;
    font-weight: bold;
    color: #333;
}

/* CSS DAS TABELAS */
.painelVaga table {
    margin: 25px auto;
}
.painelVaga table tr td, .painelVaga table tr th{
    padding: 5px 10px;
    border: 1px solid #3498db;
}
.painelVaga table tr th {
    font-size: 20px;
    color: #e67e22;
}
.painelVaga table tr th:first-child {
    border: 0;
}

.painelVaga tr td:first-child a {
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    color: inherit;
}
.linhaSelecionada
{
    background: #333;
    color: #fff;
}

/* ELEMENTOS ESPECIFICOS DE CADA PAINEL */

/* PRIMEIRO PAINEL */

div.painelVaga:nth-child(1) input[type="text"]:nth-child(2){
    margin: 0 0 0 10px;
}

/* SEGUNDO PAINEL */

div.painelVaga:nth-child(2) input[type="text"]:nth-child(2){
    margin: 0 0 0 10px;
}


/*

TOM DE LARANJA: 
TOM DE AZUL: #3498db;

FONTE UTILIZADA EM TODO O SITE: Constantia (Não é necessário declarar, ela vai ser usada automaticamente)

Pra que serve a div wrapper?
    Para conter o conteúdo, e centralizá-lo na página.
*/